body{
    background: #000;
    text-align: center;
    color: #fff;
}



h2 , p {
    color: #fff;
}


table{
    border: 2px solid #fff;
    padding: 30px;
    margin: 0 auto;
    display: table;
}

table tr td{
    padding: 20px;
}

table tr td a{
    font-size: 20px;
    color: #fff;
}

table tr td a:hover{
    text-decoration: none;
}

.fas{
    color: yellow;
}

.emoji{
    padding: 0;
    margin: 0;
    font-size: 60px;
    display: inline;
}